<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Quar.in | Apply</title>
  <link href="../../static/css/bootstrap-4.4.1.css" rel="stylesheet">
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="../../static/js/jquery-3.4.1.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="../../static/js/popper.min.js"></script>
  <script src="../../static/js/bootstrap-4.4.1.js"></script>

  <link rel="stylesheet" href="../../static/css/about.css">
  <link rel="stylesheet" href="../../static/admin/css/fonts.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light p-4">
    <a class="navbar-brand" href="{{home}}">Quar.in</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="internships">Find Internships</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about">About</a>
        </li>
      </ul>
      <div><a href="login" class="btn btn-outline-info my-2 my-sm-0">Company Log In</a></div>
    </div>
  </nav>

  <div class="row"> <br><br>
  </div>
  <div class="row p-4">
    <div class="col-lg-4 offset-xl-0 col-xl-3">&nbsp;</div>
    <div class="col-lg-4 col-xl-6">
      <h2>Hey Nitish! Complete the steps below to intern with <span class="font-weight-bold"> Company Placeholder</span>.</h2>
      <br>
      <form method="POST">
        <div class="form-group"><label for="exampleInputEmail1">Full Name</label><br>
          <input type="text" class="form-control"></div><br>
        <div class="form-group"><label for="exampleInputEmail1">Email</label><br>
          <input type="email" class="form-control"></div><br>
        <div class="form-group"><label for="exampleInputEmail1">Institution</label><br>
          <input type="text" class="form-control"></div><br>
        <div class="form-group"><label for="exampleInputEmail1">Qualification Level</label><br>
          <input type="text" class="form-control"></div><br>
        <div class="form-group"><label for="exampleInputEmail1">Date of Birth</label><br>
          <input type="text" class="form-control"></div><br>
        <div class="form-group"><label for="exampleInputEmail1">Mobile Number</label><br>
          <input type="text" class="form-control"></div><br>
        <div class="form-group"><label for="exampleInputEmail1">Upload your resume*</label><br>
          <button type="button" class="btn btn-info">Resume</button></div><br>
        <div class="form-group"><label for="exampleInputPassword1">Upload a cover letter</label><br>
          <button type="button" class="btn btn-info">Cover Letter</button>
          <small id="password" class="form-text text-muted">This is to introduce yourself to an organization,
            demonstrate your interest, and motivate them to hire you.</small>
        </div><br>
        <div class="form-group"> <label for="exampleFormControlTextarea1">Tell us about your skills</label><br>
          <textarea class="form-control" rows="3"></textarea></div><br>
        <div class="form-group"> <label for="college">Online presence</label><br>
          <input type="url" class="form-control">
          <small id="collegeHelp" class="form-text text-muted">This can be your web-portfolio, linkedin, github,
            etc.</small></div><br>



        <!--	<div class="form-group">
    <label for="exampleInputEmail1">Upload your resume*</label>
    <input type="file" class="form-control" id="exampleInputEmail"> </div>
			<div class="form-group">
    <label for="exampleInputPassword1">Upload a cover letter&nbsp;</label>
    <input type="file" class="form-control" id="exampleInputPassword1">
	<small id="password" class="form-text text-muted">This is to introduce yourself to an organization, demonstrate your interest, and motivate them to hire you.</small>
		  </div>
<div class="form-group">
  <label for="exampleFormControlTextarea1">Tell us about your skills</label>
    <textarea type="text" rows="3" class="form-control" id="phone" aria-describedby="phoneHelp"
			  placeholder="I have a strong passion for..."></textarea>
    <small id="emailHelp" class="form-text text-muted">Try to keep it under 100 words - as concise as you can.</small> </div>
  <div class="form-group">
    <label for="college">Online presence</label>
    <input type="text" class="form-control" id="website" placeholder="www.linkedin.com/maclewin">
	  <small id="collegeHelp" class="form-text text-muted">This can be your web-portfolio, linkedin, github, etc.</small>
  </div> --->
        <button type="submit" class="btn btn-info mb-4 btn-lg">Apply!</button>
        <small id="logIn" class="form-text text-muted">Your name, email ID, date of birth, and institution details will
          be sent as well, once you apply.</small>
        <small id="logIn" class="form-text text-muted">Have a question? <a href="">Contact us.</a></small>
        <br>
      </form>



    </div>
    <div class="col-lg-4 col-xl-5">

    </div>
  </div>
  <footer class="text-white bg-info p-4" style="width: 110%;">
    <div class="row">
      <div class="col-6 col-md-8 col-lg-7">
        <div class="row text-center">
          <div class="col-sm-6 col-md-4 col-lg-4 col-12">
            <ul class="list-unstyled">
              <li class="btn-link"> <a href="internships" class="footer-links">Find Internship</a> </li>
            </ul>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4 col-12">
            <ul class="list-unstyled">
              <li class="btn-link"> <a href="about" class="footer-links">About Us / FAQ </a></li>
            </ul>
          </div>
          <div class="col-lg-4 col-12">
            <ul class="list-unstyled">
              <li class="btn-link"><a href="login" class="footer-links">Company Log In</a></li>

            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-5 col-6">
        <address>
          <abbr title="Phone">P:</abbr> (+91) 704906447 or 8130920931 <br>
          <abbr title="Phone">@:</abbr>&nbsp;quarindia@gmail.com
          <a href="mailto:#"></a>
        </address>
      </div>
    </div>
  </footer>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="js/jquery-3.4.1.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap-4.4.1.js' %}"></script>
</body>

</html>
