{% load static %}
<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quar.in | Apply</title>
    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap-4.4.1.css' %} " rel="stylesheet">
  </head>
  <body>
	  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Quar.in</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
			  <a class="nav-link" href="internships.html">Find Internships</a> </li>
		  <li class="nav-item">
            <a class="nav-link" href="#">Post Internships</a> </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
		<a href="logIn.html" class="btn btn-outline-success my-2 my-sm-0" type="submit">Log In</a>
        </form>
      </div>
    </nav>
	  <div class="row"> <br><br>
</div>
	  <div class="row">
    <div class="col-lg-4 offset-xl-0 col-xl-3">&nbsp;</div>
    <div class="col-lg-4 col-xl-6"><h2>Hey Nitish! Complete the steps below to intern with {{post.company}}.</h2>
      <br>
		<form method="POST">
            <div class="form-group"><label for="exampleInputEmail1">Full Name</label><br>
            {{form.name}}</div><br>
            <div class="form-group"><label for="exampleInputEmail1">Email</label><br>
            {{form.email}}</div><br>
            <div class="form-group"><label for="exampleInputEmail1">Instiution</label><br>
            {{form.institution}}</div><br>
            <div class="form-group"><label for="exampleInputEmail1">Qualification Level</label><br>
            {{form.qualification}}</div><br>
            <div class="form-group"><label for="exampleInputEmail1">Date of Birth</label><br>
            {{form.dob}}</div><br>
            <div class="form-group"><label for="exampleInputEmail1">Mobile Number</label><br>
            {{form.phone}}</div><br>
            <div class="form-group"><label for="exampleInputEmail1">Upload your resume*</label><br>
            {{form.resume}}</div><br>
            <div class="form-group"><label for="exampleInputPassword1">Upload a cover letter&nbsp;</label><br>
            {{form.cover}}
            <small id="password" class="form-text text-muted">This is to introduce yourself to an organization, demonstrate your interest, and motivate them to hire you.</small>
            </div><br>
            <div class="form-group"> <label for="exampleFormControlTextarea1">Tell us about your skills</label><br>
            {{form.skills}}</div><br>
            <div class="form-group"> <label for="college">Online presence</label><br>
            {{form.presence}}
            <small id="collegeHelp" class="form-text text-muted">This can be your web-portfolio, linkedin, github, etc.</small></div><br>



	<!--	<div class="form-group">
    <label for="exampleInputEmail1">Upload your resume*</label>
    <input type="file" class="form-control" id="exampleInputEmail"> </div>
			<div class="form-group">
    <label for="exampleInputPassword1">Upload a cover letter&nbsp;</label>
    <input type="file" class="form-control" id="exampleInputPassword1">
	<small id="password" class="form-text text-muted">This is to introduce yourself to an organization, demonstrate your interest, and motivate them to hire you.</small>
		  </div>
<div class="form-group">
  <label for="exampleFormControlTextarea1">Tell us about your skills</label>
    <textarea type="text" rows="3" class="form-control" id="phone" aria-describedby="phoneHelp"
			  placeholder="I have a strong passion for..."></textarea>
    <small id="emailHelp" class="form-text text-muted">Try to keep it under 100 words - as concise as you can.</small> </div>
  <div class="form-group">
    <label for="college">Online presence</label>
    <input type="text" class="form-control" id="website" placeholder="www.linkedin.com/maclewin">
	  <small id="collegeHelp" class="form-text text-muted">This can be your web-portfolio, linkedin, github, etc.</small>
  </div> --->
  <button type="submit" class="btn btn-primary">Apply!</button>
			<small id="logIn" class="form-text text-muted">Your name, email ID, date of birth, and institution details will be sent as well, once you apply.</small>
			<small id="logIn" class="form-text text-muted">Have a question? <a href="">Contact us.</a></small>
			<br>
</form>



</div>
    <div class="col-lg-4 col-xl-5">

</div>
</div>
	  <div class="text-white bg-dark p-4">
      <div class="row">
        <div class="col-6 col-md-8 col-lg-7">
          <div class="row text-center">
            <div class="col-sm-6 col-md-4 col-lg-4 col-12">
              <ul class="list-unstyled">
                <li class="btn-link"> <a>Find Internship</a> </li>
                <li class="btn-link"><a>&nbsp;Post Internship</a> </li>
              </ul>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 col-12">
              <ul class="list-unstyled">
                <li class="btn-link"> <a>Track Internship</a> </li>
                <li class="btn-link"><a>&nbsp;Log In</a></li>
              </ul>
            </div>
            <div class="col-lg-4 col-12">
              <ul class="list-unstyled">
                <li class="btn-link"> <a>Contact Us&nbsp;&nbsp;</a> </li>
			    <li class="btn-link"> <a>&nbsp;About&nbsp; Us / FAQ </a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-lg-5 col-6">
          <address>
            <abbr title="Phone">P:</abbr> (+91) 704906447 or 8130920931&nbsp; &nbsp; &nbsp;&nbsp; <br>
			  <abbr title="Phone">@:</abbr>&nbsp;quarindia@gmail.com
            <a href="mailto:#">&nbsp;</a>
          </address>
        </div>
      </div>
    </div>
    <footer class="text-center">
      <div class="container">
        <div class="row">
          <div class="col-12">
            Quar.in&nbsp;&nbsp;
          </div>
        </div>
      </div>
    </footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src= "{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-4.4.1.js' %}"></script>
  </body>
</html>