{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quar.in | Find Internships</title>
    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap-4.4.1.css' %} " rel="stylesheet">
  </head>
  <body>
	   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{{home}}">Quar.in</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
			  <a class="nav-link" href="internships">Find Internships</a> </li>
		  <li class="nav-item">
            <a class="nav-link" href="about">About</a> </li>
        </ul>
		<div><a href="login" class="btn btn-outline-success my-2 my-sm-0">Company Log In</a></div>
      </div>
    </nav>
<hr>
    <h2 class="text-center">FIND INTERNSHIPS</h2>
    <hr>
  <div class="container">
<!--    <div class="row">
    <div class="col-lg-4"><div class="dropdown">
  <button type="button" class="btn btn-secondary dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Location </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Separated link</a>
  </div>
</div></div>

    <div class="col-lg-4"><form>  <div class="input-group mb-2 mr-sm-2 col-xl-12" align="left">
    <div class="input-group-prepend">
      <div class="input-group-text">Search</div>
    </div>
    <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Username">
  </div>
</form>
	  </div>
</div>-->
<hr>
{% if latest_internship_list %}
    {% for internship in latest_internship_list %}
      <div class="row">
    <div class="col-lg-4 col-xl-3">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{internship.company}}</h5>
          <p class="card-text">&nbsp;{{internship.title}}</p>
          <a href="apply/{{ internship.id }}" class="btn btn-primary">Apply</a></div>
      </div>
	  </div>
    <div class="col-lg-4 col-xl-4 offset-xl-1">
      <p><strong><br>Requirements:</strong></p>
        <p>{{internship.requirements|slice:"0:130"}}  <a href="internships/{{ internship.id }}"> Read More...&nbsp;</a> </p>
    </div>
    <div class="col-lg-4 offset-xl-1 col-xl-3">
      <p><br>
        <strong>Duration </strong>: {{internship.duration}} </p>
      <p><strong>Start Date</strong>: {{internship.startDate}} </p>
      <p> <strong> Location</strong>: {{internship.location}} </p>
    </div>
    </div>
	  <hr>
    {% endfor %}
{% else %}
    <p>No internships are available right now.</p>
{% endif %}
  </div>
<hr>
	  
	  <div class="text-white bg-dark p-4">
      <div class="row">
        <div class="col-6 col-md-8 col-lg-7">
          <div class="row text-center">
            <div class="col-sm-6 col-md-4 col-lg-4 col-12">
              <ul class="list-unstyled">
                <li class="btn-link"> <a href="internships">Find Internship</a> </li>
              </ul>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 col-12">
              <ul class="list-unstyled">
			    <li class="btn-link"> <a href="about">&nbsp;About&nbsp; Us / FAQ </a></li>
              </ul>
            </div>
            <div class="col-lg-4 col-12">
              <ul class="list-unstyled">
                <li class="btn-link"><a href="login">&nbsp;Company Log In</a></li>

              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-lg-5 col-6">
          <address>
            <abbr title="Phone">P:</abbr> (+91) 704906447 or 8130920931&nbsp; &nbsp; &nbsp;&nbsp; <br>
			  <abbr title="Phone">@:</abbr>&nbsp;quarindia@gmail.com
            <a href="mailto:#">&nbsp;</a>
          </address>
        </div>
      </div>
    </div>
    <footer class="text-center">
      <div class="container">
        <div class="row">
          <div class="col-12">
            Quar.in&nbsp;&nbsp;
          </div>
        </div>
      </div>
    </footer>
</html>