<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Quar.in | {{post.title}} </title>
  <!-- Bootstrap -->
  <link href="../../static/css/bootstrap-4.4.1.css" rel="stylesheet">
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="../../static/js/jquery-3.4.1.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="../../static/js/popper.min.js"></script>
  <script src="../../static/js/bootstrap-4.4.1.js"></script>

  <link rel="stylesheet" href="../../static/css/about.css">
  <link rel="stylesheet" href="../../static/admin/css/fonts.css">
  <link rel="stylesheet" href="../../static/css/singleInternship.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light p-4">
    <a class="navbar-brand" href="{{home}}">Quar.in</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="internships">Find Internships</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about">About</a>
        </li>
      </ul>
      <div><a href="login" class="btn btn-outline-info my-2 my-sm-0">Company Log In</a></div>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-6">
        <h1>Company Internship</h1>
      </div>
      <div class="col-6">
        <p class="text-right"><a class="btn btn-info" href="../apply/{{post.id}}">Apply</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-sm-12">
        <div class="media">
          <img class="mr-3" src="{{post.company.companyLogo}}" alt="Generic placeholder image" width="115" height="115">
          <div class="media-body">
            <h5 class="mt-0">Good Company</h5>
            Junior Developer
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="row justify-content-md-around m-1">
          <address>
            <strong>Contact details:</strong><br>


            <abbr title="Phone">P:</abbr> 9946384928<br>
            <a href="mailto:#">company@company.com</a>
          </address>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <h2>Details</h2>
        <div class="row">
          <div class="col-6">
            <h4>Start Date</h4>
          </div>
          <div class="col-6">
            <h6 class="text-right"><span aria-hidden="true"></span>03/07/2020</h6>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <h4>Duration</h4>
          </div>
          <div class="col-6">
            <h6 class="text-right"><span aria-hidden="true"></span>3-5 weeks</h6>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <h4>Location</h4>
          </div>
          <div class="col-6">
            <h6 class="text-right"><span aria-hidden="true"></span>New Delhi</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="row">
          <div class="col-5">
            <h4>Description</h4>
          </div>
        </div>
        <p>Hello yes we are very good company seeking to hire junior developer for junior developer stuff. pls come into contact etc etc etc. developer stuff. pls come into contact etc etc etc developer stuff. pls come into contact etc etc etc developer stuff. pls come into contact etc etc etc developer stuff. pls come into contact etc etc etc developer stuff. pls come into contact etc etc etcdeveloper stuff. pls come into contact etc etc etcdeveloper stuff. pls come into contact etc etc etcdeveloper stuff. pls come into contact etc etc etc</p>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="row">
          <div class="col-5">
            <h4>Requirements</h4>
          </div>
        </div>
        <h5><span class="badge badge-secondary">Degree of some sort</span></h5>
        <p>Good knowledge with etc etc etc etc ect</p>
      </div>
    </div>
  </div>
  <footer class="text-white bg-info p-4 mt-5">
    <div class="row">
      <div class="col-6 col-md-8 col-lg-7">
        <div class="row text-center">
          <div class="col-sm-6 col-md-4 col-lg-4 col-12">
            <ul class="list-unstyled">
              <li class="btn-link"> <a href="internships" class="footer-links">Find Internship</a> </li>
            </ul>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4 col-12">
            <ul class="list-unstyled">
              <li class="btn-link"> <a href="about" class="footer-links">About Us / FAQ </a></li>
            </ul>
          </div>
          <div class="col-lg-4 col-12">
            <ul class="list-unstyled">
              <li class="btn-link"><a href="login" class="footer-links">Company Log In</a></li>

            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-5 col-6">
        <address>
          <abbr title="Phone">P:</abbr> (+91) 704906447 or 8130920931 <br>
          <abbr title="Phone">@:</abbr>quarindia@gmail.com
          <a href="mailto:#"></a>
        </address>
      </div>
    </div>
  </footer>

</html>
