<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quar.in | Student Sign Up</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap-4.4.1.css" rel="stylesheet">
  </head>
  <body>
	  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Quar.in</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
			  <a class="nav-link" href="internships.html">Find Internships</a> </li>
		  <li class="nav-item">
            <a class="nav-link" href="#">Post Internships</a> </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
		<a href="logIn.html" class="btn btn-outline-success my-2 my-sm-0" type="submit">Log In</a>
        </form>
      </div>
    </nav>
	  <div class="row"> <br><br>
</div>
	  <div class="row">
    <div class="col-lg-4 col-xl-4">&nbsp;</div>
    <div class="col-lg-4"><h2>Student - Edit Profile</h2>
      <br>
		<form>
  <div class="form-group">
    <label for="name">Full Name</label>
    <input type="text" class="form-control" id="name" aria-describedby="name" placeholder="Mac Lewin" readonly>
	<small id="nameHelp" class="form-text text-muted">Your full name, please.</small> 
   </div>
  <div class="form-group">
    <label for="college">High School / College&nbsp;</label>
    <input type="text" class="form-control" id="college" placeholder="UC Berkeley, United States" readonly>
	  <small id="collegeHelp" class="form-text text-muted">Please do not forget to mention the country!</small> 
  </div>
	<div class="form-group">
    <label for="college">Year</label>
    <input type="text" class="form-control" id="college" placeholder="Freshman" readonly>
	  <small id="collegeHelp" class="form-text text-muted">Please do not forget to mention the country!</small> 
  </div>
	<div class="form-group">
    <label for="dateOfBirth">Date of Birth</label>
    <input type="text" class="form-control" id="dateOfBirth" placeholder="DDMMYYYY" readonly>
	<small id="dobHelp" class="form-text text-muted">Internships are generally offered to students over the age of 16.</small> 
  </div>
	<div class="form-group">
    <label for="phone">Phone</label>
    <input type="text" class="form-control" id="phone" aria-describedby="phoneHelp" placeholder="9876543210" readonly>
    <small id="emailHelp" class="form-text text-muted">We'll share your phone with the companies that you apply to for internships, 
		nobody else.</small> </div>
	<div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="maclewin@supermail.com" readonly>
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Old Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="********">
	<small id="password" class="form-text text-muted">We recommend your password contains a number and special characters as well.</small> 
		  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="********">
	<small id="password" class="form-text text-muted">We recommend your password contains a number and special characters as well.</small> 
		  </div>
	<div class="form-group">
    <label for="exampleInputPassword1">Confirm Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="********">
	<small id="password" class="form-text text-muted">We recommend your password contains a number and special characters as well.</small> 
		  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">I agree to terms and conditions</label>
	  
  </div>
  <button type="submit" class="btn btn-primary">Save</button>  <button type="submit" class="btn btn-danger">Cancel</button>

		  <small id="logIn" class="form-text text-muted">Want to edit something else? <a href="">Contact us.</a></small>
			<br>
</form>
					


</div>
    <div class="col-lg-4 col-xl-5">
		 
</div>
</div>
	  <div class="text-white bg-dark p-4">
      <div class="row">
        <div class="col-6 col-md-8 col-lg-7">
          <div class="row text-center">
            <div class="col-sm-6 col-md-4 col-lg-4 col-12">
              <ul class="list-unstyled">
                <li class="btn-link"> <a>Find Internship</a> </li>
                <li class="btn-link"><a>&nbsp;Post Internship</a> </li>
              </ul>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 col-12">
              <ul class="list-unstyled">
                <li class="btn-link"> <a>Track Internship</a> </li>
                <li class="btn-link"><a>&nbsp;Log In</a></li>
              </ul>
            </div>
            <div class="col-lg-4 col-12">
              <ul class="list-unstyled">
                <li class="btn-link"> <a>Contact Us&nbsp;&nbsp;</a> </li>
			    <li class="btn-link"> <a>&nbsp;About&nbsp; Us / FAQ </a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-lg-5 col-6">
          <address>
            <abbr title="Phone">P:</abbr> (+91) 704906447 or 8130920931&nbsp; &nbsp; &nbsp;&nbsp; <br>
			  <abbr title="Phone">@:</abbr>&nbsp;quarindia@gmail.com
            <a href="mailto:#">&nbsp;</a>
          </address>
        </div>
      </div>
    </div>
    <footer class="text-center">
      <div class="container">
        <div class="row">
          <div class="col-12">
            Quar.in&nbsp;&nbsp;
          </div>
        </div>
      </div>
    </footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery-3.4.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap-4.4.1.js"></script>
  </body>
</html>