body {
    font-family: "FuturaMedium";
    overflow-x: hidden;
}

.annie {
    position: absolute;
    top: 200px;
    left: 0;
    height: 60%;
    opacity: 1;
}

#down-button:active {
	outline: none;
	border: none;
}

#down-button:focus {
	outline: 0;
}

.resp {
	text-align: left;
}

.mrl-5 {
	margin-left: 2rem;
	width: 340px;
}

@media only screen and (max-width: 1200px) {
	.resp {
		text-align: center;
		margin: auto;
	}

	.mrl-5 {
		margin-left: 0rem;
		margin-top: 2rem;
		width: 200px;
	}
}

.active {
	border-bottom: 4px solid #17a2b8;
	/* line-height: 15px; */
}

mark {
	background-color: #17a2b8;
	color: white;
}

.increase-line-height {
	line-height: 50px;
}

.container {
	/* position: relative; */
}

.jumbotron {
	height: 88vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#none {
	border: none;
	outline: none;
	background-color: white;
}

.footer-links {
	color: white;
	text-decoration: underline;
}

.footer-links:hover {
	color: white;
	opacity: 0.5;
	transition: 0.3s ease;
}

.boldify {
	font-family: "FuturaBold";
}

.list-container {
	margin-bottom: 50px;
	margin-top: 50px;
}

.media {
	-webkit-box-shadow: 15px 16px 17px -1px rgba(153, 153, 153, 0.37);
	-moz-box-shadow: 15px 16px 17px -1px rgba(153, 153, 153, 0.37);
	box-shadow: 15px 16px 17px -1px rgba(153, 153, 153, 0.37);

	border-radius: 8px;
	height: 220px;
	padding: 20px;
	display: inline-block;

}

.media:hover {
	-webkit-box-shadow: 15px 16px 17px -1px rgba(94, 94, 94, 0.45);
	-moz-box-shadow: 15px 16px 17px -1px rgba(94, 94, 94, 0.45);
	box-shadow: 15px 16px 17px -1px rgba(94, 94, 94, 0.45);
	transform: translateY(-15px);
	-webkit-transform: translateY(-10px);
	transition: 0.3s ease-out;
}

.padder {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
