<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Quar.in | Log In</title>
  <!-- Bootstrap -->
  <link href="../../static/css/bootstrap-4.4.1.css" rel="stylesheet">
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="../../static/js/jquery-3.4.1.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="../../static/js/popper.min.js"></script>
  <script src="../../static/js/bootstrap-4.4.1.js"></script>

  <link rel="stylesheet" href="../../static/css/about.css">
  <link rel="stylesheet" href="../../static/admin/css/fonts.css">
  <link rel="stylesheet" href="../../static/css/studentdashboard.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light p-4">
    <a class="navbar-brand" href="{{home}}">Quar.in</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="internships">Find Internships</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about">About</a>
        </li>
      </ul>
      <div><a href="login" class="btn btn-outline-info my-2 my-sm-0">Company Log In</a></div>
    </div>
  </nav>

  <div style="display: flex; height: 68vh">
    <div class="text-center p-4" style="margin: auto; -webkit-box-shadow: 15px 16px 17px -1px rgba(153, 153, 153, 0.37);
    -moz-box-shadow: 15px 16px 17px -1px rgba(153, 153, 153, 0.37);
    box-shadow: 15px 16px 17px -1px rgba(153, 153, 153, 0.37); border-radius: 8px;">
      <h2 class="underline">404 error</h2>
      <br>
      <img class="m-3" src="../static/images/undraw_warning_cyit.svg" alt="404" style="width: 300px;">
      <h5>Looks like you're in the shadow realm, Jimbo.</h5>
    </div>

  </div>
  <footer class="text-white bg-info p-4 mt-5">
    <div class="row">
      <div class="col-6 col-md-8 col-lg-7">
        <div class="row text-center">
          <div class="col-sm-6 col-md-4 col-lg-4 col-12">
            <ul class="list-unstyled">
              <li class="btn-link"> <a href="internships" class="footer-links">Find Internship</a> </li>
            </ul>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4 col-12">
            <ul class="list-unstyled">
              <li class="btn-link"> <a href="about" class="footer-links">About Us / FAQ </a></li>
            </ul>
          </div>
          <div class="col-lg-4 col-12">
            <ul class="list-unstyled">
              <li class="btn-link"><a href="login" class="footer-links">Company Log In</a></li>

            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-5 col-6">
        <address>
          <abbr title="Phone">P:</abbr> (+91) 704906447 or 8130920931 <br>
          <abbr title="Phone">@:</abbr>&nbsp;quarindia@gmail.com
          <a href="mailto:#"></a>
        </address>
      </div>
    </div>
  </footer>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="js/jquery-3.4.1.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap-4.4.1.js"></script>
</body>

</html>
