{% load static %}
<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quar.in | Company Sign Up</title>
    <!-- Bootstrap -->
    <link href="{% static '/css/bootstrap-4.4.1.css' %} " rel="stylesheet">
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static '/js/jquery-3.4.1.min.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static '/js/popper.min.js' %}"></script>
    <script src="{% static '/js/bootstrap-4.4.1.js' %}"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{{home}}">Quar.in</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
			  <a class="nav-link" href="internships">Find Internships</a> </li>
		  <li class="nav-item">
            <a class="nav-link" href="about">About</a> </li>
        </ul>
		<div><a href="login" class="btn btn-outline-success my-2 my-sm-0">Company Log In</a></div>
      </div>
    </nav>
	  <div class="row"> <br>
</div>
	  <div class="row">
    <div class="col-lg-4 col-xl-4">&nbsp;</div>
    <div class="col-lg-4"><h2>Company Sign-Up</h2>
      <br>
		<form method="post">
        {% csrf_token %}
    <div class="form-group">
    <label for="name">Username</label><br>
        {{form.username}}
	<small id="nameHelp" class="form-text text-muted">This is what you will login with.</small>
   </div>
  <div class="form-group">
    <label for="name">Company</label><br>
	<small id="nameHelp" class="form-text text-muted">This name  will be displayed to students.</small>
      {{form.name}}
   </div>
  <div class="form-group">
    <label for="college">Industry</label><br>
      {{form.industry}}
	  <small id="collegeHelp" class="form-text text-muted">Choose the industry.
    </small>
  </div>
	<div class="form-group">
    <label for="college">Type of business</label><br>
        {{form.typeOfBusiness}}
	  <small id="collegeHelp" class="form-text text-muted">Add the type of your business. </small>
  </div>
	<div class="form-group">
    <label for="college">Website</label><br>
        {{form.website}}
	  <small id="collegeHelp" class="form-text text-muted">If you do not have a website, add a link to a website where
		students can read about your work.</small> 
  </div>
	<div class="form-group">
    <label for="exampleInputEmail1">Email address</label><br>
        {{form.email}}
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>

	<div class="form-group">
    <label for="exampleInputEmail1">Phone</label><br>
        {{form.phone}}
    <small id="emailHelp" class="form-text text-muted">We won't share your phone numnber with anyone else.</small>
    </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label><br>
      {{form.password1}}
      <small id="password" class="form-text text-muted">Letters, digits and @/./+/-/_ only.</small>
		  </div>
      <div class="form-group">
    <label for="exampleInputPassword1">Confirm Password</label><br>
        {{form.password2}}
		  </div>
        <br>
            {% if form.errors %}
                {{form.errors}}
            {% endif %}
  <button type="submit" class="btn btn-primary">Sign up</button>
			<small id="logIn" class="form-text text-muted">Already have an account? <a href="">Log In?</a></small>
			<br>
</form>
					


</div>
    <div class="col-lg-4 col-xl-5">
		 
</div>
</div>
	  <div class="text-white bg-dark p-4">
      <div class="row">
        <div class="col-6 col-md-8 col-lg-7">
          <div class="row text-center">
            <div class="col-sm-6 col-md-4 col-lg-4 col-12">
              <ul class="list-unstyled">
                <li class="btn-link"> <a href="internships">Find Internship</a> </li>
              </ul>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 col-12">
              <ul class="list-unstyled">
			    <li class="btn-link"> <a href="about">&nbsp;About&nbsp; Us / FAQ </a></li>
              </ul>
            </div>
            <div class="col-lg-4 col-12">
              <ul class="list-unstyled">
                <li class="btn-link"><a href="login">&nbsp;Company Log In</a></li>

              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-lg-5 col-6">
          <address>
            <abbr title="Phone">P:</abbr> (+91) 704906447 or 8130920931&nbsp; &nbsp; &nbsp;&nbsp; <br>
			  <abbr title="Phone">@:</abbr>&nbsp;quarindia@gmail.com
            <a href="mailto:#">&nbsp;</a>
          </address>
        </div>
      </div>
    </div>
    <footer class="text-center">
      <div class="container">
        <div class="row">
          <div class="col-12">
            Quar.in&nbsp;&nbsp;
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>