<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Quar.in | Company Sign Up</title>
  <!-- Bootstrap -->
  <link href="../../static/css/bootstrap-4.4.1.css" rel="stylesheet">
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="../../static/js/jquery-3.4.1.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="../../static/js/popper.min.js"></script>
  <script src="../../static/js/bootstrap-4.4.1.js"></script>

  <link rel="stylesheet" href="../../static/css/about.css">
  <link rel="stylesheet" href="../../static/admin/css/fonts.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light p-4">
    <a class="navbar-brand" href="#">Quar.in</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="internships.html">Find Internships</a> </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Post Internships</a> </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <a href="logIn.html" class="btn btn-outline-info my-2 my-sm-0" type="submit">Company Log In</a>
      </form>
    </div>
  </nav>
  <div class="row"> <br>
  </div>
  <div class="row">
    <div class="col-lg-4 col-xl-4">&nbsp;</div>
    <div class="col-lg-4">
      <h2>Company Sign-Up</h2>
      <br>
      <form method="post">
        <div class="form-group">
          <label for="name">Username</label><br>
          <input type="text" class="form-control" id="name" aria-describedby="name" placeholder="Company">

          <small id="nameHelp" class="form-text text-muted">This is what you will login with.</small>
        </div>
        <div class="form-group">
          <label for="name">Company</label><br>
          <input type="text" class="form-control" id="name" aria-describedby="name" placeholder="Good Company">

          <small id="nameHelp" class="form-text text-muted">This name will be displayed to students.</small>
        </div>
        <div class="form-group">
          <div class="form-group">
            <label for="college">Industry</label><br>
            <select class="form-control" name="industry" required id="id_industry">
              <option value="" selected>---------</option>

              <option value="FA">Finance and Accounting</option>

              <option value="MA">Marketing</option>

              <option value="DE">Design</option>

              <option value="DS">Data Analytics and Stats</option>

              <option value="PS">Programming and Software</option>

              <option value="SC">Supply Chain</option>

              <option value="FS">Fashion</option>

              <option value="CO">Communications</option>

              <option value="FB">Food and Beverage</option>

              <option value="RE">Research</option>

              <option value="OT">Other</option>

            </select>
            <small id="collegeHelp" class="form-text text-muted">Choose the industry.
            </small>
          </div>

        </div>
        <div class="form-group">
          <label for="college">Type of business</label><br>
          <input type="text" class="form-control" id="name" aria-describedby="name" placeholder="Finance">

          <small id="collegeHelp" class="form-text text-muted">Add the type of your business. </small>
        </div>
        <div class="form-group">
          <label for="college">Website</label><br>
          <input type="url" class="form-control" id="name" aria-describedby="name" placeholder="Good Company">

          <small id="collegeHelp" class="form-text text-muted">If you do not have a website, add a link to a website
            where
            students can read about your work.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label><br>
          <input type="email" class="form-control" id="name" aria-describedby="name" placeholder="Good Company">

          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">Phone</label><br>
          <input type="tel" class="form-control" id="name" aria-describedby="name" placeholder="Good Company">

          <small id="emailHelp" class="form-text text-muted">We won't share your phone numnber with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label><br>
          <input type="password" class="form-control" id="name" aria-describedby="name" placeholder="Good Company">

          <small id="password" class="form-text text-muted">Letters, digits and @/./+/-/_ only.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Confirm Password</label><br>
          <input type="password" class="form-control" id="name" aria-describedby="name" placeholder="Good Company">

        </div>
        <br>
        
        <button type="submit" class="btn btn-info mb-4">Sign up</button>
        <small id="logIn" class="form-text text-muted">Already have an account? <a href="">Log In?</a></small>
        <br>
      </form>



    </div>
    <div class="col-lg-4 col-xl-5">

    </div>
  </div>
  <footer class="text-white bg-info p-4 mt-5">
    <div class="row">
      <div class="col-6 col-md-8 col-lg-7">
        <div class="row text-center">
          <div class="col-sm-6 col-md-4 col-lg-4 col-12">
            <ul class="list-unstyled">
              <li class="btn-link"> <a href="internships" class="footer-links">Find Internship</a> </li>
            </ul>
          </div>
          <div class="col-sm-6 col-md-4 col-lg-4 col-12">
            <ul class="list-unstyled">
              <li class="btn-link"> <a href="about" class="footer-links">About Us / FAQ </a></li>
            </ul>
          </div>
          <div class="col-lg-4 col-12">
            <ul class="list-unstyled">
              <li class="btn-link"><a href="login" class="footer-links">Company Log In</a></li>

            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-lg-5 col-6">
        <address>
          <abbr title="Phone">P:</abbr> (+91) 704906447 or 8130920931 <br>
          <abbr title="Phone">@:</abbr>&nbsp;quarindia@gmail.com
          <a href="mailto:#"></a>
        </address>
      </div>
    </div>
  </footer>
</body>

</html>
